<h1>TODO</h1>

<input #newTodo type="text" 
(keyup.enter)="onAddTodo(newTodo.value)">
<button (click) = "onAddTodo(newTodo.value)">+</button>

<ul>
    <li *ngFor = "let todo of todos; index as i"
    (click) = "onDeleteTodo(todo, i)"
    >
     {{ todo }}
    </li>
</ul>

<ul>
    <li *ngFor = "let deleteTodo of deleteTodos; index as i"
    (click) = "onReturnTodo(deleteTodo, i)"
    >
    <a style="text-decoration:line-through">{{ deleteTodo }}</a>
    </li>
</ul>