<h1>Components</h1>
<hr/>

<app-post-form
(onAdd)="updatePosts($event)"
>
</app-post-form>
<app-post 
*ngFor="let p of posts"
[post]="p">
<div #info>
<small *ngIf="p.text.length > 10; else short">Пост длинный</small>
    <ng-template #short>
      <small>Пост короткий</small>
    </ng-template>
    </div>
</app-post>